USE [master]
GO
/****** Object:  Database [DetailTrackDB]    Script Date: 15.05.2026 14:07:53 ******/
CREATE DATABASE [DetailTrackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DetailTrackDB', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DetailTrackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DetailTrackDB_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DetailTrackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DetailTrackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DetailTrackDB]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NULL,
	[ToolRequestId] [int] NULL,
	[UserId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineModels]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MachineTypeId] [int] NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK__MachineM__3214EC07319320D9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineTypes]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK__MachineT__3214EC079F4AAFDC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestFiles]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NULL,
	[ToolRequestId] [int] NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](50) NOT NULL,
	[UploadedById] [int] NOT NULL,
	[UploadedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestHistory]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ChangedById] [int] NOT NULL,
	[ChangedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestNumber] [nvarchar](50) NOT NULL,
	[DetailName] [nvarchar](200) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ConstructorId] [int] NOT NULL,
	[TechnologistId] [int] NULL,
	[ProgrammerId] [int] NULL,
	[SetupTechnicianId] [int] NULL,
	[MachineTypeId] [int] NULL,
	[MachineModelId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TechProcessUploadedAt] [datetime2](7) NULL,
	[ProgramUploadedAt] [datetime2](7) NULL,
	[ImplementationDate] [datetime2](7) NULL,
	[IsCompleted] [bit] NOT NULL,
	[WorkshopId] [int] NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK__Requests__3214EC0724D69DEB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolRequests]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MainRequestId] [int] NULL,
	[ToolName] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RequestedById] [int] NOT NULL,
	[AssignedEngineerId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[RoleId] [int] NOT NULL,
	[WorkshopId] [int] NOT NULL,
	[SpecializationId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Users__3214EC071A032766] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshops]    Script Date: 15.05.2026 14:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK__Workshop__3214EC0781435372] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [RequestId], [ToolRequestId], [UserId], [Text], [CreatedAt]) VALUES (8, NULL, 6, 6, N'Отправили запрос на закупку. Деталь доставляется', CAST(N'2026-05-10T16:31:02.6231163' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [RequestId], [ToolRequestId], [UserId], [Text], [CreatedAt]) VALUES (9, NULL, 6, 6, N'Деталь доставили на склад', CAST(N'2026-05-10T16:31:22.3810206' AS DateTime2))
INSERT [dbo].[Comments] ([Id], [RequestId], [ToolRequestId], [UserId], [Text], [CreatedAt]) VALUES (10, NULL, 7, 6, N'тестовый комментарий', CAST(N'2026-05-15T14:04:30.9449325' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineModels] ON 

INSERT [dbo].[MachineModels] ([Id], [Name], [MachineTypeId], [IsRemoved]) VALUES (1, N'Haas ST-20Y', 1, 0)
SET IDENTITY_INSERT [dbo].[MachineModels] OFF
GO
SET IDENTITY_INSERT [dbo].[MachineTypes] ON 

INSERT [dbo].[MachineTypes] ([Id], [Name], [IsRemoved]) VALUES (1, N'Токарный ЧПУ', 0)
INSERT [dbo].[MachineTypes] ([Id], [Name], [IsRemoved]) VALUES (4, N'Новый тип станка', 0)
SET IDENTITY_INSERT [dbo].[MachineTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestFiles] ON 

INSERT [dbo].[RequestFiles] ([Id], [RequestId], [ToolRequestId], [FileName], [FilePath], [FileType], [UploadedById], [UploadedAt]) VALUES (27, 11, NULL, N'ntn.png', N'Data\Files\REQ_11_ceb916d53f504f668d17050cf66ec558.png', N'Drawing', 2, CAST(N'2026-05-10T16:27:01.2230342' AS DateTime2))
INSERT [dbo].[RequestFiles] ([Id], [RequestId], [ToolRequestId], [FileName], [FilePath], [FileType], [UploadedById], [UploadedAt]) VALUES (28, 11, NULL, N'Screenshot_2.png', N'Data\Files\REQ_11_879add4659ee45629f9c15bcc6d47e00.png', N'Drawing', 2, CAST(N'2026-05-10T16:27:01.2364734' AS DateTime2))
INSERT [dbo].[RequestFiles] ([Id], [RequestId], [ToolRequestId], [FileName], [FilePath], [FileType], [UploadedById], [UploadedAt]) VALUES (29, 11, NULL, N'Screenshot_2.png', N'Data\Files\REQ_11_972e8138d2bf4f8b85fb2abe3fd71649.png', N'TechProcess', 3, CAST(N'2026-05-10T16:28:33.7891792' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RequestFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestHistory] ON 

INSERT [dbo].[RequestHistory] ([Id], [RequestId], [OldStatus], [NewStatus], [Comment], [ChangedById], [ChangedAt]) VALUES (42, 11, NULL, N'Создана', N'Заявка создана конструктором', 2, CAST(N'2026-05-10T16:27:01.2372033' AS DateTime2))
INSERT [dbo].[RequestHistory] ([Id], [RequestId], [OldStatus], [NewStatus], [Comment], [ChangedById], [ChangedAt]) VALUES (43, 11, N'Создана', N'В разработке у технолога', N'Технолог принял заявку в работу', 3, CAST(N'2026-05-10T16:28:17.5163495' AS DateTime2))
INSERT [dbo].[RequestHistory] ([Id], [RequestId], [OldStatus], [NewStatus], [Comment], [ChangedById], [ChangedAt]) VALUES (44, 11, N'В разработке у технолога', N'Передано программисту', N'Передано программисту Сидоров Программист', 3, CAST(N'2026-05-10T16:29:03.9887140' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RequestHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Id], [RequestNumber], [DetailName], [Type], [Status], [ConstructorId], [TechnologistId], [ProgrammerId], [SetupTechnicianId], [MachineTypeId], [MachineModelId], [Comment], [CreatedAt], [TechProcessUploadedAt], [ProgramUploadedAt], [ImplementationDate], [IsCompleted], [WorkshopId], [IsRemoved]) VALUES (12, N'Z-1', N'Новая деталь', N'Новая', N'Создана', 2, 3, NULL, NULL, NULL, NULL, N'123', CAST(N'2026-05-15T13:02:36.5112294' AS DateTime2), NULL, NULL, NULL, 0, NULL, 1)
INSERT [dbo].[Requests] ([Id], [RequestNumber], [DetailName], [Type], [Status], [ConstructorId], [TechnologistId], [ProgrammerId], [SetupTechnicianId], [MachineTypeId], [MachineModelId], [Comment], [CreatedAt], [TechProcessUploadedAt], [ProgramUploadedAt], [ImplementationDate], [IsCompleted], [WorkshopId], [IsRemoved]) VALUES (13, N'Z-2', N'123', N'Новая', N'В разработке у наладчика', 2, 3, 4, 5, 1, 1, N'123', CAST(N'2026-05-15T13:02:43.2938098' AS DateTime2), CAST(N'2026-05-15T13:15:04.4740568' AS DateTime2), CAST(N'2026-05-15T13:18:20.0158731' AS DateTime2), NULL, 0, 3, 0)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Constructor')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (4, N'Programmer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([Id], [Name]) VALUES (1, N'Токарная обработка')
INSERT [dbo].[Specializations] ([Id], [Name]) VALUES (2, N'Фрезерная обработка')
INSERT [dbo].[Specializations] ([Id], [Name]) VALUES (3, N'Программирование ЧПУ')
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
SET IDENTITY_INSERT [dbo].[ToolRequests] ON 

INSERT [dbo].[ToolRequests] ([Id], [MainRequestId], [ToolName], [Status], [RequestedById], [AssignedEngineerId], [Comment], [CreatedAt], [CompletedAt]) VALUES (6, 11, N'НОВАЯ ЗАЯВКА НА ИНСТРУМЕНТ', N'Получен', 3, NULL, N'123123', CAST(N'2026-05-10T16:28:52.7230805' AS DateTime2), CAST(N'2026-05-10T16:31:24.6114367' AS DateTime2))
INSERT [dbo].[ToolRequests] ([Id], [MainRequestId], [ToolName], [Status], [RequestedById], [AssignedEngineerId], [Comment], [CreatedAt], [CompletedAt]) VALUES (7, 17, N'новая деталь', N'В закупке', 3, NULL, N'комментарий для закупщика', CAST(N'2026-05-15T14:00:52.7330199' AS DateTime2), NULL)
INSERT [dbo].[ToolRequests] ([Id], [MainRequestId], [ToolName], [Status], [RequestedById], [AssignedEngineerId], [Comment], [CreatedAt], [CompletedAt]) VALUES (8, 17, N'фыв123', N'В закупке', 3, NULL, N'123123', CAST(N'2026-05-15T14:06:35.4257273' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ToolRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [WorkshopId], [SpecializationId], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'123123', N'Администратор Системы', 1, 2, 1, 1, CAST(N'2025-01-10T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [WorkshopId], [SpecializationId], [IsActive], [CreatedAt]) VALUES (2, N'c', N'123123', N'Иванов Конструктор', 2, 1, 5, 1, CAST(N'2025-03-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [RoleId], [WorkshopId], [SpecializationId], [IsActive], [CreatedAt]) VALUES (3, N't', N'123123', N'Петров Технолог', 3, 1, 2, 1, CAST(N'2025-03-16T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Workshops] ON 

INSERT [dbo].[Workshops] ([Id], [Name], [IsRemoved]) VALUES (1, N'Цех Механообработки №1', 0)
INSERT [dbo].[Workshops] ([Id], [Name], [IsRemoved]) VALUES (2, N'Цех Механообработки №2', 0)
INSERT [dbo].[Workshops] ([Id], [Name], [IsRemoved]) VALUES (3, N'Инструментальный цех', 0)
SET IDENTITY_INSERT [dbo].[Workshops] OFF
GO
/****** Object:  Index [IX_Comments_RequestId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_RequestId] ON [dbo].[Comments]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestFiles_RequestId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_RequestFiles_RequestId] ON [dbo].[RequestFiles]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestHistory_RequestId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_RequestHistory_RequestId] ON [dbo].[RequestHistory]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Requests__9ADA6BE0634A9BAD]    Script Date: 15.05.2026 14:07:53 ******/
ALTER TABLE [dbo].[Requests] ADD  CONSTRAINT [UQ__Requests__9ADA6BE0634A9BAD] UNIQUE NONCLUSTERED 
(
	[RequestNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_CreatedAt]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_CreatedAt] ON [dbo].[Requests]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_DetailName]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_DetailName] ON [dbo].[Requests]
(
	[DetailName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_MachineTypeId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_MachineTypeId] ON [dbo].[Requests]
(
	[MachineTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_ProgrammerId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_ProgrammerId] ON [dbo].[Requests]
(
	[ProgrammerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_SetupTechnicianId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_SetupTechnicianId] ON [dbo].[Requests]
(
	[SetupTechnicianId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_Status]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Status] ON [dbo].[Requests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_TechnologistId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_TechnologistId] ON [dbo].[Requests]
(
	[TechnologistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_WorkshopId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_WorkshopId] ON [dbo].[Requests]
(
	[WorkshopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F679CCEFD3]    Script Date: 15.05.2026 14:07:53 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ToolRequests_MainRequestId]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_ToolRequests_MainRequestId] ON [dbo].[ToolRequests]
(
	[MainRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ToolRequests_Status]    Script Date: 15.05.2026 14:07:53 ******/
CREATE NONCLUSTERED INDEX [IX_ToolRequests_Status] ON [dbo].[ToolRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B050F0477]    Script Date: 15.05.2026 14:07:53 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__5E55825B050F0477] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RequestFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[RequestHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Requests] ADD  CONSTRAINT [DF__Requests__Create__4BAC3F29]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Requests] ADD  CONSTRAINT [DF__Requests__IsComp__4CA06362]  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[ToolRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__440B1D61]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__44FF419A]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Request]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_ToolRequest] FOREIGN KEY([ToolRequestId])
REFERENCES [dbo].[ToolRequests] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_ToolRequest]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[MachineModels]  WITH CHECK ADD  CONSTRAINT [FK_MachineModels_MachineType] FOREIGN KEY([MachineTypeId])
REFERENCES [dbo].[MachineTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MachineModels] CHECK CONSTRAINT [FK_MachineModels_MachineType]
GO
ALTER TABLE [dbo].[RequestFiles]  WITH CHECK ADD  CONSTRAINT [FK_RequestFiles_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[RequestFiles] CHECK CONSTRAINT [FK_RequestFiles_Request]
GO
ALTER TABLE [dbo].[RequestFiles]  WITH CHECK ADD  CONSTRAINT [FK_RequestFiles_ToolRequest] FOREIGN KEY([ToolRequestId])
REFERENCES [dbo].[ToolRequests] ([Id])
GO
ALTER TABLE [dbo].[RequestFiles] CHECK CONSTRAINT [FK_RequestFiles_ToolRequest]
GO
ALTER TABLE [dbo].[RequestFiles]  WITH CHECK ADD  CONSTRAINT [FK_RequestFiles_Uploader] FOREIGN KEY([UploadedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RequestFiles] CHECK CONSTRAINT [FK_RequestFiles_Uploader]
GO
ALTER TABLE [dbo].[RequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_RequestHistory_ChangedBy] FOREIGN KEY([ChangedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RequestHistory] CHECK CONSTRAINT [FK_RequestHistory_ChangedBy]
GO
ALTER TABLE [dbo].[RequestHistory]  WITH CHECK ADD  CONSTRAINT [FK_RequestHistory_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[RequestHistory] CHECK CONSTRAINT [FK_RequestHistory_Request]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Constructor] FOREIGN KEY([ConstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Constructor]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_MachineModel] FOREIGN KEY([MachineModelId])
REFERENCES [dbo].[MachineModels] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_MachineModel]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_MachineType] FOREIGN KEY([MachineTypeId])
REFERENCES [dbo].[MachineTypes] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_MachineType]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Programmer] FOREIGN KEY([ProgrammerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Programmer]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_SetupTech] FOREIGN KEY([SetupTechnicianId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_SetupTech]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Technologist] FOREIGN KEY([TechnologistId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Technologist]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Workshop] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshops] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Workshop]
GO
ALTER TABLE [dbo].[ToolRequests]  WITH CHECK ADD  CONSTRAINT [FK_ToolRequests_Engineer] FOREIGN KEY([AssignedEngineerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ToolRequests] CHECK CONSTRAINT [FK_ToolRequests_Engineer]
GO
ALTER TABLE [dbo].[ToolRequests]  WITH CHECK ADD  CONSTRAINT [FK_ToolRequests_MainRequest] FOREIGN KEY([MainRequestId])
REFERENCES [dbo].[Requests] ([Id])
GO
ALTER TABLE [dbo].[ToolRequests] CHECK CONSTRAINT [FK_ToolRequests_MainRequest]
GO
ALTER TABLE [dbo].[ToolRequests]  WITH CHECK ADD  CONSTRAINT [FK_ToolRequests_RequestedBy] FOREIGN KEY([RequestedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ToolRequests] CHECK CONSTRAINT [FK_ToolRequests_RequestedBy]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Spec] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Spec]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Workshop] FOREIGN KEY([WorkshopId])
REFERENCES [dbo].[Workshops] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Workshop]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [CHK_Comments_OnlyOneParent] CHECK  (([RequestId] IS NOT NULL AND [ToolRequestId] IS NULL OR [RequestId] IS NULL AND [ToolRequestId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [CHK_Comments_OnlyOneParent]
GO
ALTER TABLE [dbo].[RequestFiles]  WITH CHECK ADD  CONSTRAINT [CHK_RequestFiles_OnlyOneParent] CHECK  (([RequestId] IS NOT NULL AND [ToolRequestId] IS NULL OR [RequestId] IS NULL AND [ToolRequestId] IS NOT NULL))
GO
ALTER TABLE [dbo].[RequestFiles] CHECK CONSTRAINT [CHK_RequestFiles_OnlyOneParent]
GO
USE [master]
GO
